{% extends 'base.html' %}

{% block content %}
    <div style="border-radius: 1rem; margin: 2rem; text-align: center;">
        <h1 style="font-family: 'Finlandica', sans-serif;">
            Finlandica test
        </h1>

        <form action="/account/hello/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>
        </form>

        {% if hello_list %}
            {% for hello in hello_list %}
            <h4>
                {{ hello.text }}
            </h4>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}