
{% load bootstrap4 %}


{% block content %}

    <div style="text-align: center; margin: 3rem auto; max-width: 500px">
        {% if user.is_authenticated %}
        <div class="mb-2">
          <h4>
              Comment Create
          </h4>
        </div>

        <form action="{% url 'commentapp:create' %}" style="font-size: 1.2rem;" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

        {% else %}
          <h4>
              Login first to write Comments!
          </h4>

        {% endif %}

        <!--After Logging in when it was not at first,
        "?next={{ request.path }}" will Redirect user to article
        where the user was redirected from.-->
        {% if user.is_authenticated %}
          <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3;"
                 style="margin: 2rem;"
                 value="Submit">
        {% else %}
          <a href="{% url 'accountapp:login' %}?next={{ request.path }}"
             class="btn btn-dark rounded-pill col-6 mt-3">
               Login
          </a>
        {% endif %}
           <input type="hidden" name="article_pk" value="{{ article.pk }}">
    </form>
  </div>

{% endblock %}
