.berryland_logo {
    font-family: 'Finlandica', sans-serif;
    font-weight: bold;
}

.berryland_footer_button {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.berryland_footer {
    text-align:center;
}

.berryland_footer_margin {
    margin-top: 0.3rem;
    margin-bottom: 2.3rem;
}

.berryland_header {
    text-align:center;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}



@media screen and (max-width:600px) {
    html {
        font-size: 13px;

    }
}


a {
    color: black;
    text-decoration: None;
}

a:hover {
    color: black;
    text-decoration: None;
}

.berryland_header_navs {
    margin: 0rem .3rem;
    font-size: 130%;
}

.berryland_header_navbar {
    margin-top: 0.2rem;
}

