<div class="berryland_header">


    <div>
        <h1 class="berryland_logo">
            BerryLand
        </h1>
    </div>

    <div class="berryland_header_navbar">
        <a href="{% url 'articleapp:list' %}" class="berryland_header_navs">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="berryland_header_navs">
            <span>Projects</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="berryland_header_navs">
            <span>Subscription</span>
        </a>
        {% if not user.is_authenticated %}
        <!--By using 'next' param, can indicate where to go after Login.-->
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="berryland_header_navs">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="berryland_header_navs">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk%}" class="berryland_header_navs">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="berryland_header_navs">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>


</div>