{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="text-align: center; max-width: 350px;
                    margin: 4rem auto">
            <h1>
                {{ target_article.title }}
            </h1>
            <a href="{% url 'accountapp:detail' pk=target_article.writer.pk %}">
                <h5 style="font-family: NanumSquareB">
                    By {{ target_article.writer.profile.nickname }}
                </h5>
            </a>
            <a href="{% url 'projectapp:detail' pk=target_article.project.pk %}">
                <h5 style="margin-top: 0.4rem;">
                    (In Project {{ target_article.project.title }})
                </h5>
            </a>


            <hr style="margin-top: 0;">


            <img style="width: 100%; border-radius: 1rem; margin-top: .5rem; margin-bottom: 3rem;"
                 src="{{ target_article.image.url }}" alt="">
            <p>
                {{ target_article.content }}
            </p>

            {% if target_article.writer ==  user %}
            <a href="{% url 'articleapp:update' pk=target_article.pk %}"
               class="btn btn-dark rounded-pill col-3">
                Update
            </a>
            <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
               class="btn btn-danger rounded-pill col-3">
                Delete
            </a>
            {% endif %}


            <hr style="margin-bottom: 0rem;">


            {% for comment in target_article.comment.all %}
                {% include 'commentapp/detail.html' with comment=comment %}
            {% endfor %}

            <!-- Sync an Article that will be used or be used in 'commentapp/create.html'
                 with 'target_article' here.   -->
            {% include 'commentapp/create.html' with article=target_article %}

        </div>
    </div>

{% endblock %}